[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackag
Packages/
*.dll
*.exe
[Ll]inux/
[Ww]indows/
*.zip
*~
tmp
Standard Assets/
Standard Assets.meta
TanukiMagic.ttf
title.mp3
bgm.ogg
gameover.mp3
touch.mp3
destroy.mp3
